PORT=8080
MONGODB_URI=

CORS_ORIGIN=http://localhost:3000
COOKIE_SECRET=
ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRY=10d
EXPRESS_SESSION_SECRET=
USER_TEMPORARY_TOKEN_EXPIRY = 3600000
USER_PASSWORD_EXPIRY = 86400000

REDIS_HOST=
REDIS_PORT=18722
REDIS_PASSWORD=
REDIS_URL=redis://localhost:6379

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

CLIENT_SSO_REDIRECT_URL=http://localhost:3000
FRONTEND_URL=http://localhost:3000

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:8080/api/v1/users/google/callback

MAILTRAP_SMTP_HOST=smtp.sendgrid.net
MAILTRAP_SMTP_PORT=587
MAILTRAP_SMTP_USER=apikey
MAILTRAP_SMTP_PASS=